*{
    font-family: 'Roboto', sans-serif;
    color:white;
    border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.main{
    min-height: 100vh;
    background: linear-gradient(#1c1c1c,#323232);
}
.header{
    display: flex;
    height: 100px;
}
.header_logo{
    width: 200px;
    height: 100%;
}
.header_logo_image{
    width: 100px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
}
.body{
    display: flex;
    justify-content: space-between;
}
.left{
    width: 25%;
}
.type{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#shoeName{
    width:300px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
.info{
    width:400px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}
.price_title{
    margin-left: 50px;
    margin-top: 10px;
}
.price_number{
    margin-left: 50px;
    font-weight: bold;
    font-size: 30px;
}
.button_cart{
    height: 50px;
    width: 200px;
    background-color: white;
    color: #131313;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 30px;
    cursor: pointer;
}
.title{
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.size_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.size{
    width: 60px;
    height: 60px;
    background-color: #434343;
    margin: 8px;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;

}
.shoe_picture{
    display: flex;
}
.button{
    color:white;
    list-style: none;
    text-decoration: none;
    background-color: #131313;
}
.imgMain{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.imgMain img{
    width: 80%;
    height: 80%;
    margin-left: 40px;
    margin-top: 40px;
}
.size_grid:hover .size{
    cursor: pointer;
}
.link{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 50px;
}
#picture1 {
    width:80px;
    height: 40px;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
}
#picture2 {
    width:80px;
    height: 40px;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
}
#picture3 {
    width:80px;
    height: 40px;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
}
#picture4 {
    width:80px;
    height: 40px;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.minipic{
    width: 80px;
    height: 80px;
    margin: 5px;
    transition:0.5s
}
.header_icon{
    display: flex;
    margin-left: 80%;
    margin-top: 20px;
    height: 100px;
    line-height: 50px;
}
.menu_icon{
    margin-top: 4px;
}
.menu_icon, .search_icon, .shopping_icon{
    margin-left:8px;
    margin-right: 8px;
}
.minipic:hover{
    transform: translateY(-15px);
}