*{
    font-family: 'Roboto', sans-serif;

    color:white;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#shoppingList{
    min-height: 100vh;
    background: linear-gradient(#1c1c1c,#323232);
}
.header{
    display: flex;
    height: 100px;
}
.header_logo{
    width: 200px;
    height: 100%;
}
.header_logo_image{
    width: 100px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
}
.shoppinglist-container{
    width: 400px;
    height: 100%;
    max-height: 100vh;
    margin-left: 40%;
    -webkit-box-shadow: 0px 0px 3px 5px #f2e1f2;
    -moz-box-shadow: 0px 0px 3px 5px #f2e1f2;
    box-shadow: 0px 0px 3px 5px #f2e1f2;
    /* box-shadow: rgba(57,255,20, 0.25) 0px 54px 55px, 
    rgba(57,255,20, 0.12) 0px -12px 30px, 
    rgba(57,255,20, 0.12) 0px 4px 6px, 
    rgba(57,255,20, 0.17) 0px 12px 13px, 
    rgba(57,255,20, 0.09) 0px -3px 5px; */
}
ul{
    list-style-type: none;
    margin-left: 16px;
    margin-top: 24px;
}
li{
    height: 100px;
    width: 95%;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
}
li:hover + .remove{
    display: block;
}
.gio_hang{
    text-align: center;
    font-size: 40px
}
button{
    border: none;
}
.header_icon{
    display: flex;
    margin-left: 80%;
    margin-top: 20px;
    height: 100px;
    line-height: 50px;
}
#dropdown{
    margin-left: 16px;
}
.menu_icon{
    margin-top: 4px;
}
.menu_icon, .search_icon, .shopping_icon{
    margin-left:8px;
    margin-right: 8px;
}
#deleteButton{
    margin-left: 100px;
}
.picture img{
    margin-left: 50px;
    width: 120px;
    height: 95px;
}
.name{
    margin-left: 8px;
    margin-top: 8px;
}
#remove{
    cursor: pointer;
}